@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  behavior: smooth;
}


body {

  color: white;
  background-color: white;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  scrollbar-width: 0px !important;
}

ul::-webkit-scrollbar {
  display: none !important;
}

.bgp {
  background-color: #00ADB5 !important;

}

.bgg {
  background-color: #222831 !important;
}

.btnbg {
  background-color: #D9D9D9 !important;
}

.opac{
  background-color: rgb(217, 217, 217, 35%);
}

.btnbg-dark {
  background-color: #222831 !important;
}

.btnbg:hover {
  background-color: #eeeeee !important;
  transition: all 112ms ease;
}


nav ul li:nth-child(1) {

  background-color: #222831 !important;

}

nav ul li {

  background-color: #00ADB5 !important;

}

/* Login Page Phone Number Css */
.react-tel-input {
  font-family: "poppins";
  font-size: 15px;
  position: relative;
  width: auto !important;
}

.opt-container>input {
  width: 30px !important;
  border-radius: 4px !important;
  background-color: #D9D9D9 !important;
}

.opt-container{
  margin-left: 20px;
}