@tailwind base;
@tailwind components;
@tailwind utilities;




body {

  color: white;
  background-color: white !important;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100 !important;
}

ul::-webkit-scrollbar {
  display: none !important;
}

.bgp {
  background-color: #00ADB5 !important;
 
}

.bgg {
  background-color: #222831 !important;
}

.btnbg{
  background-color: #D9D9D9 !important;
}

.btnhover{
  background-color: #868686 !important;
}


nav ul li:nth-child(1) {

  background-color: #222831 !important;

}

nav ul li {

  background-color: #00ADB5 !important;

}